# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
schools = school_data_complete["school_name"].unique()
school_count = len(schools)
school_count

15

In [3]:
# Calculate the total number of students
students = school_data_complete["student_name"]
student_count = 0
for row in students:
    student_count +=1
student_count

39170

In [4]:
# Calculate the total budget
total_budget_overall = school_data_complete["budget"].unique()
total_budget = total_budget_overall.sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score = average_math_score.round(2)
average_math_score

78.99

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score = average_reading_score.round(2)
average_reading_score

81.88

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage = passing_math_percentage.round(2)
passing_math_percentage

74.98

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage = passing_reading_percentage.round(2)
passing_reading_percentage

85.81

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate = overall_passing_rate.round(2)
overall_passing_rate

65.17

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_sum = [{"Schools":school_count,"Total Students":student_count,"Total Budget":total_budget,
                     "Average Math Score":average_math_score,"Average Reading Score":average_reading_score,
                     "Passing Math %":passing_math_percentage,"Passing Reading %":passing_reading_percentage,
                     "Overall Passing Rate %":overall_passing_rate}]

district_summary=pd.DataFrame(district_sum)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate %
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

In [11]:
# Use the code provided to select all of the school types
# school_types = school_data_complete["type"].unique()
# school_types
school_data_complete.set_index("school_name")

school_types = school_data_complete[["school_name", "type"]]
school_types = school_types.groupby(["school_name"])
school_types = school_types.min()
school_types

#How to get this to list type by school?  something about set_index

                           type
school_name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter

In [12]:
# Calculate the total student count per school
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete["budget"].unique()
per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School        383.970056
Johnson High School       395.801512
Hernandez High School     227.961165
Rodriguez High School     755.693923
Figueroa High School      311.122414
Huang High School         452.373672
Ford High School          394.799562
Wilson High School       1368.781428
Cabrera High School       133.523681
Wright High School        325.476667
Shelton High School       595.911414
Thomas High School       1558.020183
Griffin High School      2108.072207
Pena High School         1833.592516
Holden High School       2442.927400
Name: count, dtype: float64

In [14]:
# Calculate the average test scores per school
per_school_math = school_data_complete[["school_name", "math_score"]]
per_school_math = per_school_math.groupby(["school_name"])
per_school_math = per_school_math.mean()

per_school_reading = school_data_complete[["school_name", "reading_score"]]
per_school_reading = per_school_reading.groupby(["school_name"])
per_school_reading = per_school_reading.mean()

#per_school_reading.head()
per_school_math.head()

                      math_score
school_name
Bailey High School     77.048432
Cabrera High School    83.061895
Figueroa High School   76.711767
Ford High School       77.102592
Griffin High School    83.351499

In [15]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[(school_data_complete["math_score"] > 70),:]
school_students_passing_math = students_passing_math[["school_name", "student_name"]]
school_students_passing_math = school_students_passing_math.groupby(["school_name"])
school_students_passing_math = school_students_passing_math.count()
school_students_passing_math.head()

                      student_name
school_name
Bailey High School            3216
Cabrera High School           1664
Figueroa High School          1880
Ford High School              1801
Griffin High School           1317

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] > 70),:]
school_students_passing_reading = students_passing_reading[["school_name", "student_name"]]
school_students_passing_reading = school_students_passing_reading.groupby(["school_name"])
school_students_passing_reading = school_students_passing_reading.count()
school_students_passing_reading.head()

                      student_name
school_name
Bailey High School            3946
Cabrera High School           1744
Figueroa High School          2313
Ford High School              2123
Griffin High School           1371

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
# school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading = students_passing_math_and_reading[["school_name", "student_name"]]
school_students_passing_math_and_reading = school_students_passing_math_and_reading.groupby(["school_name"])
school_students_passing_math_and_reading = school_students_passing_math_and_reading.count()
school_students_passing_math_and_reading.head()

                      student_name
school_name
Bailey High School            2719
Cabrera High School           1697
Figueroa High School          1569
Ford High School              1487
Griffin High School           1330

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

#this is putting the same values in both the x and y axis?  Why?
per_school_passing_math.head()

,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School,student_name
school_name,,,,,,,,,,,,,,,,
Bailey High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_sum = [{"School Type":school_types, "Total Student Count":per_school_counts, "Per Capita Spending":per_school_capita,
                    "Ave Math Test Scores":per_school_math, "# Passing Math":students_passing_math, "Ave Reading Test Scores":per_school_reading,
                    "# Passing Reading":students_passing_reading, "Passing Both Math and Reading":students_passing_math_and_reading}]
per_school_summary = pd.DataFrame(per_school_sum)

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

# What is going on here? it isnt dataframing?

,School Type,Total Student Count,Per Capita Spending,Ave Math Test Scores,# Passing Math,Ave Reading Test Scores,# Passing Reading,Passing Both Math and Reading
0,type school_name ...,school_name Bailey High School 4976 John...,school_name Bailey High School 383.9700...,math_score school_name ...,Student ID student_name gender grad...,reading_score school_na...,Student ID student_name gender grad...,Student ID student_name gender grad...

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = overall_passing_rate.sort_values(by="school_name",ascending=False)
top_schools.head(5)

#Need to fix the overall_passing_rate to get this to work correctly

,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School,student_name
school_name,,,,,,,,,,,,,,,,
Wright High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wilson High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thomas High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shelton High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rodriguez High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Bottom Performing Schools (By % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = overall_passing_rate.sort_values(by="school_name",ascending=True)
bottom_schools.head(5)

#Need to fix the overall_passing_rate to get this to work correctly

,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School,student_name
school_name,,,,,,,,,,,,,,,,
Bailey High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Math Scores by Grade

In [22]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"])
ninth_grader_math_scores = ninth_grader_math_scores[["math_score"]].mean()

tenth_grader_math_scores = tenth_graders.groupby(["school_name"])
tenth_grader_math_scores = tenth_grader_math_scores[["math_score"]].mean()

eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])
eleventh_grader_math_scores  = eleventh_grader_math_scores[["math_score"]].mean()

twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])
twelfth_grader_math_scores  = twelfth_grader_math_scores[["math_score"]].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = [{"9th Grade":ninth_grader_math_scores, "10th Grade":tenth_grader_math_scores, "11th Grade":eleventh_grader_math_scores, "12th Grade":twelfth_grader_math_scores}]

# Minor data wrangling   **** Attribute error relating to this?  ***
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

AttributeError: 'builtin_function_or_method' object has no attribute 'name'

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby(["school_name"])
ninth_grader_reading_scores = ninth_grader_reading_scores[["math_score"]].mean()

tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])
tenth_grader_reading_scores = tenth_grader_reading_scores[["math_score"]].mean()

eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])
eleventh_grader_reading_scores  = eleventh_grader_reading_scores[["math_score"]].mean()

twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])
twelfth_grader_reading_scores  = twelfth_grader_reading_scores[["math_score"]].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = [{"9th Grade":ninth_grader_reading_scores, "10th Grade":tenth_grader_reading_scores, "11th Grade":eleventh_grader_reading_scores, "12th Grade":twelfth_grader_reading_scores}]

# Minor data wrangling  *** also errors regarding this section? *** Why is this one different than the one above? ***
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [23]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [24]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df.head()

,School Type,Total Student Count,Per Capita Spending,Ave Math Test Scores,# Passing Math,Ave Reading Test Scores,# Passing Reading,Passing Both Math and Reading
0,type school_name ...,school_name Bailey High School 4976 John...,school_name Bailey High School 383.9700...,math_score school_name ...,Student ID student_name gender grad...,reading_score school_na...,Student ID student_name gender grad...,Student ID student_name gender grad...

In [25]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Capita Spending"],spending_bins,labels=labels,include_lowest=True)
school_spending_df

### need to figure out school_spending_df data frame for this to work ###

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [26]:
# Assemble into DataFrame
spending_summary = [{"$ for Math":spending_math_scores, "$ for Reading":spending_reading_scores, "$ Passing Math":spending_passing_math, 
                     "$ Passing Reading":spending_passing_reading, "Overall":overall_passing_spending}]

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [27]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [28]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(school_spending_df["Total Students"],size_bins,labels=labels,include_lowest=True)
per_school_summary

KeyError: 'Total Students'

In [29]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

KeyError: 'Column not found: Average Math Score'

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary